@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Great+Vibes&family=Inconsolata:wght@400;500;600;700;800;900&family=Inter:wght@200;300;400;500;600;700;800;900&family=League+Spartan:wght@100;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans+Narrow:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  background-color: #141518;
  color: #fff;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
.grad-btn {
  border-radius: 100px;
  background: linear-gradient(
    266deg,
    #246cf9 -0.27%,
    #1e68f6 -0.26%,
    #0047d0 98.59%
  );
}
.outline-btn {
  border-radius: 100px;
  border: 1px solid #fff;
}
.lg-btn {
  padding: 18px 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28.8px;
}
.md-btn {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 22.4px;
  color: #fff;
}
